{{! This will be your default layout for all handlebars file rendered. This will 
be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works
don't forget to include your css and your client-side script file references in the layout.
}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lab 10</title>
        <meta name="keywords" content="{{keywords}}">
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
        {{{body}}}
        <script src="/public/js/client_side_validation.js"></script>
    </body>
</html>
