<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Pokemon TCG</title>
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <link rel="icon" type="image/png" href="../../public/images/Pokéball.png" />

  </head>

  <body>
    <header>
<div class="container">
  {{#unless buttonsTurnedOff}}
    {{#unless loggedIn}}
      <button class="homeButton" onclick="location.href='/login';" type="submit">Login</button>
    {{/unless}}
    {{#if loggedIn}}
      <button class="homeButton" onclick="location.href='/logout';" type="submit">Logout</button>
      <button class="homeButton" onclick="location.href='/protected';" type="submit">Home Page</button>
      <button class="homeButton" onclick="goBack()">Go Back</button>
    {{/if}}
  {{/unless}}
</div>


<script>
function goBack() {
  window.history.back();
}
</script>
    </header>

    <main>
      {{{body}}}

    </main>

    <footer>
      <p class="centerLogin">Group 3</p>
    </footer>

  </body>

</html>