<!-- Show list of friends -->
<h2>List of friends:</h2>

<ul>
{{#each friends}}
<li>{{this}}</li>
{{/each}}
</ul>

<div class="lgout">
  <a href="/protected">Protected</a>
  <a href="/logout">Logout</a>
</div>