<p class="centerLogin">You have successfully logged out.</p>
<p class="centerLogin">It is always a good idea to close your browser to protect your privacy.</p>
<p id="error" class="error"></p>


<div class="container">
    {{#unless loggedIn}}
    <button class="homeButton" onclick="location.href='/login';" type="submit">Login</button>
    {{/unless}}
    {{#if loggedIn}}
    <button class="homeButton" onclick="location.href='/logout';" type="submit">Logout</button>
    <button class="homeButton" onclick="location.href='/protected';" type="submit">Home Page</button>
    {{/if}}
</div>