<p>You have successfully logged out.</p>
<p>It is always a good idea to close your browser to protect your privacy.</p>
        <p id="error" class="error" style="display:none;"></p>
        <a href="/">Return</a>