<p class="centerLoginElse">Welcome
  {{userName}}, the time is now:
  <span id="currentTime"></span></p>
{{#if friendRequests.length}}
  <h2>Friend Requests:</h2>
  <ul>
    {{#each friendRequests}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if successMessage}}
  <p>{{successMessage}}</p>
{{/if}}

<div class="pContainer">
  <button class="homeButton" onclick="location.href='/protected';" type="submit">Home Page</button>
  <button class="homeButton" onclick="location.href='/trade';" type="submit">Trade Now</button>
  <button class="homeButton" onclick="location.href='/viewtrades';" type="submit">View Trades</button>
  <button class="homeButton" onclick="location.href='/searchUsers';" type="submit">Search Users</button>
  <button class="homeButton" onclick="location.href='/ranking';" type="submit">Ranking Chart</button>
  <button class="homeButton" onclick="location.href='/viewCollections/{{userName}}';" type="submit">View Collections</button>
  <button class="homeButton" onclick="location.href='/logout';" type="submit">Logout</button>
</div>
<script src="/public/js/client_side_addUser.js"></script>
<script src="/public/js/timeScript.js"></script>