<p>Welcome {{userName}}, the time is now: {{currentTime}}.</p>

{{#if friendRequests.length}}
  <h2>Friend Requests:</h2>
  <ul>
    {{#each friendRequests}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if successMessage}}
  <p>{{successMessage}}</p>
{{/if}}

<div class="lgout">
  <a href="/trade">Trade Now!</a>
  <a href="/searchUsers">Search Users</a>
  <a href="/ranking">Ranking Chart</a>
  <a href="/viewtrades">View Trades</a>
  <a href="/logout">Logout</a>
</div>
<script src="/public/js/client_side_addUser.js"></script>
