<p>Welcome {{firstName}} {{lastName}} , the time is now: {{currentTime}}. Your role in the system is: {{role}}.</p>
{{#if showAdminLink}}
    <a href="/admin">Admin Page</a>
{{/if}}


<div class="lgout">
        <a href="/logout">Logout</a>
</div>