<div id="tradeHome-main">
  <form action="/trade" method="POST" id="search-user-form">
    <label for="tradeSearchUser" id="tradeSearchLabel">Trade with:</label>
    <input type="text" id="tradeSearchUser" name="tradeSearchUser" />

    <button type="submit" id="tradeSearchSubmit">Search for user</button>
  </form>
</div>
<div class="container">
    <button class="homeButton" onclick="location.href='/protected';" type="submit">Home Page</button>
</div>