{{!--

If the user is logged in and they are an admin user, and 'GET /admin' e
ndpoint is called, you will render this view
based on the specs.



--}}

<main>
    <article>
        <h1>"Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}}</h1>
        <p>SUPER TOP SECRET, USE YOUR POWER WITH GOOD JUDGEMENT</p>
        <p><a href="/protected">protected route</a></p>
        <p><a href="/logout">Logout</a></p>  
    </article>
</main>